<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Gaussian RBF kernel function in 3D</title>
    <link rel = "icon" type = "image/png" href = "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQFjp3OzBXCJvQpkhqRpFFb_RdzMULZNBJPZQ&usqp=CAU">
    <style>
        body, html {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body style="background-color: #6a040f;">
  <nav class="navbar">        <!--Creating a navbar-->
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQFjp3OzBXCJvQpkhqRpFFb_RdzMULZNBJPZQ&usqp=CAU"/ style="height: 4em; padding-right: 0em; margin-top: 1em; margin-left: 1em;">
    <h1 class="navbar-brand text-light" style="text-align: left; padding-left: 0em; padding-right: 26em; margin-top: 1em;"><strong>SPECIAL PAGE : THE 3D VIEW OF THE GAUSSIAN RBF KERNEL FUNCTION</strong></h1>
  </nav>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-lg- col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-4">
                <div class="card-header" style="text-align: center; width: 60rem; background-color: rgba(0,0,0,.08);">
                    <img src='data:image/png;base64,{{img3d}}' width="711" height="552">
                    <br><br>
                    <a href="{{url_for('home')}}", class="btn text-light text-uppercase" style="background-color: #540b0e;"><strong>BACK TO HOME PAGE</strong></a>
                </div>           
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <span class="text-light" style="padding-left: 56rem;">Developed by <a href="https://www.linkedin.com/in/balaka-biswas/" class="text-light" target="blank"><u><strong>Balaka Biswas</strong></u></a></span>
    <br><br>

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</body>
</html>